.jumbotron
{
	background-color: #9575CD;
	color: floralwhite;
}

.footer
{
	background-color: #D1C4E9;
	padding-top: 30px;
}

.row-content
{
	border-bottom: 1px ridge;
	min-height: 400px;
	padding : 50px 0px 50px 0px;
}

.abt-us
{
	padding-top: 0px;
	margin-top: 0px;
}

.bg
{
	background-color: #5133A5;
}